<h1> Welcome to Blackjack!</h1>
<form action="/new_player" method="post">
  <label for="name">Enter your name:</label>
  <input type="text" id="name" name="user_name">
  <button type="submit">Submit</button>
</form>